@charset "UTF-8";
/* Sass Расширения */
.cars__model--more, header nav .navbar__info .navbar_offerCall {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.cars__model--more::after, header nav .navbar__info .navbar_offerCall::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0%;
  transition: width 0.3s linear;
  background-color: var(--dark-blue);
  bottom: 0;
}
.cars__model--more:hover::after, header nav .navbar__info .navbar_offerCall:hover::after {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Навигация */
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  max-width: 100%;
  gap: 3%;
  color: var(--black);
}
header nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  max-width: 100%;
}
header nav .navbar .active {
  transform: translateX(-10%);
}
header nav .navbar_phone {
  display: flex;
  gap: 10%;
  width: 100%;
}
@media (max-width: 1600px) {
  header nav .navbar_phone {
    flex-direction: column;
  }
}
header nav .navbar__menu {
  display: flex;
  align-items: center;
  gap: 5%;
}
@media (max-width: 1200px) {
  header nav .navbar__menu {
    display: none;
  }
}
header nav .navbar__menu li {
  cursor: pointer;
}
header nav .navbar__adaptive_menu {
  width: 110vw;
  height: 100vh;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  position: fixed;
  background-color: black;
  z-index: 1;
  bottom: 0;
  color: var(--white);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  padding: 0;
  margin: 0;
  top: 0;
}
header nav .navbar__adaptive_menu_cross {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3%;
}
header nav .navbar__adaptive_menu li {
  cursor: pointer;
}
@media (max-width: 1200px) {
  header nav .navbar__adaptive_menu {
    display: flex;
  }
}
header nav .navbar__adaptive_menuBurger {
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  header nav .navbar__adaptive_menuBurger {
    display: block;
  }
}
header nav .navbar__info {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
}
@media (max-width: 1000px) {
  header nav .navbar__info {
    display: none;
  }
}
header nav .navbar__info .navbar_street {
  font-weight: 400;
  font-size: 1rem;
}
header nav .navbar__info .navbar_phoneNumber {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--black);
}
header nav .navbar__info .navbar_offerCall {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--black);
}

/* Main screen */
.main_screen__form {
  display: flex;
  position: relative;
  width: 100%;
}
.main_screen__form_block {
  display: flex;
  position: absolute;
  gap: 5%;
  margin-top: 5%;
  margin-left: 15%;
  width: 100%;
}

.main_screen_inputForm {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 400px;
}
.main_screen_inputForm_caption {
  font-weight: 700;
  font-size: clamp(30px, 2vw, 48px);
  line-height: 130%;
  text-align: left;
}
.main_screen_inputForm_desc {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: clamp(15px, 2vw, 24px);
  line-height: 130%;
  text-align: left;
  white-space: wrap;
}
.main_screen_inputForm_input {
  border-radius: 40px;
  background: var(--white);
  width: 100%;
  height: 40px;
}
@media (max-width: 800px) {
  .main_screen_inputForm_input {
    display: none;
  }
}
.main_screen_inputForm_input::-moz-placeholder {
  padding: 3%;
  color: var(--black);
}
.main_screen_inputForm_input::placeholder {
  padding: 3%;
  color: var(--black);
}
.main_screen_inputForm_button {
  border-radius: 40px;
  background: var(--dark-blue);
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 800px) {
  .main_screen_inputForm_button {
    display: none;
  }
}

.main_screen_formImage {
  width: 150%;
  height: 150%;
}

/* Navigation */
.navigation {
  min-height: 300px;
  padding: 10%;
}
.navigation_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .navigation_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .navigation_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 300px) {
  .navigation_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.navigation__item {
  width: 100%;
  height: 230px;
  background: #fafafa;
  overflow: hidden;
  padding: 5%;
  cursor: pointer;
}
.navigation__item--caption {
  font-weight: 700;
  color: var(--black);
  text-align: left;
  width: 150px;
  white-space: wrap;
}
.navigation__item--image {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Cars */
.cars {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 10%;
  height: 700px;
  /* Cars models */
}
.cars--caption {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3%;
}
.cars__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
@media (max-width: 600px) {
  .cars__tabs {
    flex-direction: column;
  }
}
.cars__tabs .active {
  background-color: var(--dark-blue);
  color: #fff;
}
.cars__tab {
  transition: 0.2s linear all;
  border-radius: 10px;
  background-color: #fafafa;
  height: 70px;
  width: 20%;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 600px) {
  .cars__tab {
    width: 50%;
  }
}
.cars__h3_arrows {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .cars__h3_arrows {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .cars__h3_arrows {
    flex-direction: column;
  }
}
.cars__h3_arrows--caption {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  left: 5%;
  position: relative;
}
@media (max-width: 600px) {
  .cars__h3_arrows--caption {
    left: 0;
  }
}
.cars__arrows {
  display: flex;
  position: relative;
  left: 25%;
  gap: 25%;
  width: 120px;
}
@media (max-width: 600px) {
  .cars__arrows {
    left: 0;
  }
}
.cars__arrows svg {
  cursor: pointer;
}
.cars__models {
  margin-top: 5%;
  margin-left: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 235px;
  display: none;
}
@media (max-width: 1500px) {
  .cars__models {
    margin-left: 0;
  }
}
.cars .active_cars {
  display: flex;
}
.cars__model {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
.cars__model--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5%;
  height: 100%;
}
.cars__model--image {
  width: 100%;
  height: 100%;
  position: relative;
}
.cars__model--image_logo {
  position: absolute;
  right: 15%;
  top: 0;
}
.cars__model--title {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  white-space: nowrap;
}
.cars__model--price {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-grey);
  text-align: left;
}
.cars__model--more {
  display: flex;
  align-items: center;
  gap: 3%;
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-blue);
}
.cars__model--more_wrapper {
  display: flex;
  align-items: center;
  gap: 5%;
}
.cars__to_catalog {
  border-radius: 10px;
  background: var(--dark-blue);
  color: var(--white);
  height: 50px;
  width: 20%;
  margin-top: 3%;
  font-weight: 500;
  font-size: 20px;
  align-self: center;
}
@media (max-width: 600px) {
  .cars__to_catalog {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */