header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* Навигация */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 0;
        max-width: 100%;
        gap: 3%;
        color: var(--black);

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
            max-width: 100%;

            .active {
                transform: translateX(-10%);
            }

            &_phone {
                display: flex;
                gap: 10%;
                width: 100%;

                @media (max-width: 1600px) {
                    flex-direction: column;
                }
            }

            &__menu {
                display: flex;
                align-items: center;
                gap: 5%;

                @media (max-width: 1200px) {
                    display: none;
                }

                li {
                    cursor: pointer;
                }
            }

            &__adaptive_menu {

                width: 110vw;
                height: 100vh;
                display: none;
                transform: translateX(100%);
                transition: transform .5s ease-in-out;
                position: fixed;
                background-color: black;
                z-index: 1;
                bottom: 0;
                color: var(--white);
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 30px;
                padding: 0;
                margin: 0;
                top: 0;

                &_cross {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 3%;
                }

                li {
                    cursor: pointer;
                }

                @media (max-width: 1200px) {
                    display: flex;
                }

                &Burger {
                    cursor: pointer;
                    display: none;

                    @media (max-width: 1200px) {
                        display: block;
                    }
                }
            }

            &__info {
                display: flex;
                align-items: center;
                gap: 5%;
                width: 100%;

                @media (max-width: 1000px) {
                    display: none;
                }

                .navbar_street {
                    font-weight: 400;
                    font-size: 1rem;
                }

                .navbar_phoneNumber {
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: var(--black);
                }

                .navbar_offerCall {
                    display: block;
                    font-weight: 700;
                    font-size: 1.25rem;
                    cursor: pointer;
                    position: relative;
                    color: var(--black);

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 0%;
                        transition: width .3s linear;
                        background-color: var(--dark-blue);
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .header__form {
        display: flex;
        position: relative;
        width: 100%;

        &_block {
            display: flex;
            position: absolute;
            gap: 5%;
            margin-top: 5%;
            margin-left: 15%;
            width: 100%;

        }
    }

    .header_inputForm {
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 400px;

        &_caption {
            font-weight: 700;
            font-size: clamp(30px, 2vw, 48px);
            line-height: 130%;
            text-align: left;
        }

        &_desc {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: clamp(15px, 2vw, 24px);
            line-height: 130%;
            text-align: left;
            white-space: wrap;
        }

        &_input {
            border-radius: 40px;
            background: var(--white);
            width: 100%;
            height: 40px;

            @media (max-width: 800px) {
                display: none;
            }

            &::placeholder {
                padding: 3%;
                color: var(--black);
            }
        }

        &_button {
            border-radius: 40px;
            background: var(--dark-blue);
            height: 50px;
            color: #fff;
            font-weight: 700;
            font-size: 16px;

            @media (max-width: 800px) {
                display: none;
            }
        }
    }

    .header_formImage {
        width: 150%;
        height: 150%;
    }
}