/* Sass Расширения */
%link_hover_effect {
    position: relative;
    width: fit-content;

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 0%;
        transition: width .3s linear;
        background-color: var(--dark-blue);
        bottom: 0;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Навигация */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 0;
        max-width: 100%;
        gap: 3%;
        color: var(--black);

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
            max-width: 100%;

            .active {
                transform: translateX(-10%);
            }

            &_phone {
                display: flex;
                gap: 10%;
                width: 100%;

                @media (max-width: 1600px) {
                    flex-direction: column;
                }
            }

            &__menu {
                display: flex;
                align-items: center;
                gap: 5%;

                @media (max-width: 1200px) {
                    display: none;
                }

                li {
                    cursor: pointer;
                }
            }

            &__adaptive_menu {

                width: 110vw;
                height: 100vh;
                display: none;
                transform: translateX(100%);
                transition: transform .5s ease-in-out;
                position: fixed;
                background-color: black;
                z-index: 1;
                bottom: 0;
                color: var(--white);
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 30px;
                padding: 0;
                margin: 0;
                top: 0;

                &_cross {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 3%;
                }

                li {
                    cursor: pointer;
                }

                @media (max-width: 1200px) {
                    display: flex;
                }

                &Burger {
                    cursor: pointer;
                    display: none;

                    @media (max-width: 1200px) {
                        display: block;
                    }
                }
            }

            &__info {
                display: flex;
                align-items: center;
                gap: 5%;
                width: 100%;

                @media (max-width: 1000px) {
                    display: none;
                }

                .navbar_street {
                    font-weight: 400;
                    font-size: 1rem;
                }

                .navbar_phoneNumber {
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: var(--black);
                }

                .navbar_offerCall {
                    display: block;
                    font-weight: 700;
                    font-size: 1.25rem;
                    cursor: pointer;
                    color: var(--black);

                    @extend %link_hover_effect;
                }
            }
        }
    }
}

/* Main screen */
.main_screen__form {
    display: flex;
    position: relative;
    width: 100%;

    &_block {
        display: flex;
        position: absolute;
        gap: 5%;
        margin-top: 5%;
        margin-left: 15%;
        width: 100%;

    }
}

.main_screen_inputForm {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 400px;

    &_caption {
        font-weight: 700;
        font-size: clamp(30px, 2vw, 48px);
        line-height: 130%;
        text-align: left;
    }

    &_desc {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: clamp(15px, 2vw, 24px);
        line-height: 130%;
        text-align: left;
        white-space: wrap;
    }

    &_input {
        border-radius: 40px;
        background: var(--white);
        width: 100%;
        height: 40px;

        @media (max-width: 800px) {
            display: none;
        }

        &::placeholder {
            padding: 3%;
            color: var(--black);
        }
    }

    &_button {
        border-radius: 40px;
        background: var(--dark-blue);
        height: 50px;
        color: #fff;
        font-weight: 700;
        font-size: 16px;

        @media (max-width: 800px) {
            display: none;
        }
    }
}

.main_screen_formImage {
    width: 150%;
    height: 150%;
}

/* Navigation */
.navigation {
    height: 300px;
    padding: 10%;


    &_wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 300px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        width: 100%;
        height: 230px;
        background: #fafafa;
        overflow: hidden;
        padding: 5%;
        cursor: pointer;

        &--caption {
            font-weight: 700;
            color: var(--black);
            text-align: left;
            width: 150px;
            white-space: wrap;
        }

        &--image {
            width: 100%;
            position: relative;
            bottom: 0;
        }
    }
}

/* Cars */
.cars {
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin-top: 10%;
    height: 100%;

    &--caption {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 3%;
    }

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        .active {
            background-color: var(--dark-blue);
            color: #fff;
        }
    }

    &__tab {
        transition: .2s linear all;
        border-radius: 10px;
        background-color: #fafafa;
        height: 70px;
        width: 20%;
        font-weight: 700;
        font-size: 20px;
    }

    &__h3_arrows {
        display: flex;
        margin-top: 3%;
        align-items: center;
        justify-content: center;

        &--caption {
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            left: 5%;
            position: relative;
        }
    }

    &__arrows {
        display: flex;
        position: relative;
        left: 25%;
        gap: 25%;
        width: 120px;

        svg {
            cursor: pointer;
        }
    }

    /* Cars models */
    &__models {
        grid-template-columns: repeat(6, 1fr);
        margin-top: 5%;
        margin-left: 15%;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 240px;
        display: none;
    }

    .active_cars {
        display: grid;
    }

    &__model {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;

        &--info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 5%;
            height: 100%;
        }

        &--image {
            width: 100%;
            height: 100%;
            position: relative;

            &_logo {
                position: absolute;
                right: 15%;
            }
        }

        &--title {
            font-weight: 700;
            font-size: 24px;
            text-align: left;
            white-space: nowrap;
        }

        &--price {
            font-weight: 400;
            font-size: 20px;
            color: var(--dark-grey);
            text-align: left;
        }

        &--more {
            display: flex;
            align-items: center;
            gap: 3%;
            font-weight: 400;
            font-size: 20px;
            color: var(--dark-blue);

            @extend %link_hover_effect;

            &_wrapper {
                display: flex;
                align-items: center;
                gap: 5%;
            }
        }
    }

    .swiper-slide {
        display: flex;
        gap: 0%;
    }

    &__to_catalog {
        border-radius: 10px;
        background: var(--dark-blue);
        color: var(--white);
        height: 50px;
        width: 20%;
        margin-top: 3%;
        align-self: center;
    }
}