@charset "UTF-8";
/* Sass Расширения */
header nav .navbar__info .navbar_offerCall, .services_types .service_type--more, .cars__model--more {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
header nav .navbar__info .navbar_offerCall::after, .services_types .service_type--more::after, .cars__model--more::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0%;
  transition: width 0.3s linear;
  background-color: var(--dark-blue);
  bottom: 0;
}
header nav .navbar__info .navbar_offerCall:hover::after, .services_types .service_type--more:hover::after, .cars__model--more:hover::after {
  width: 100%;
}

.services_form--button, .cars__to_catalog, .main_screen_inputForm_button {
  border-radius: 10px;
  background: var(--dark-blue);
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.services_types .service_type--more, .cars__model--more {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-blue);
}

/* Хедер */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Навигация */
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  max-width: 100%;
  gap: 3%;
  color: var(--black);
}
header nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  max-width: 100%;
}
header nav .navbar .active {
  transform: translateX(-5%);
}
header nav .navbar_phone {
  display: flex;
  gap: 10%;
  width: 100%;
}
@media (max-width: 1600px) {
  header nav .navbar_phone {
    flex-direction: column;
  }
}
header nav .navbar__menu {
  display: flex;
  align-items: center;
  gap: 5%;
}
@media (max-width: 1200px) {
  header nav .navbar__menu {
    display: none;
  }
}
header nav .navbar__menu li {
  cursor: pointer;
}
header nav .navbar__adaptive_menu {
  width: 110vw;
  height: 100vh;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  position: fixed;
  background-color: black;
  z-index: 1;
  bottom: 0;
  color: var(--white);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  padding: 0;
  margin: 0;
  top: 0;
}
header nav .navbar__adaptive_menu_cross {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10%;
}
header nav .navbar__adaptive_menu li {
  cursor: pointer;
}
@media (max-width: 1200px) {
  header nav .navbar__adaptive_menu {
    display: flex;
  }
}
header nav .navbar__adaptive_menuBurger {
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  header nav .navbar__adaptive_menuBurger {
    display: block;
  }
}
header nav .navbar__info {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
}
@media (max-width: 1000px) {
  header nav .navbar__info {
    display: none;
  }
}
header nav .navbar__info .navbar_street {
  font-weight: 400;
  font-size: 1rem;
}
header nav .navbar__info .navbar_phoneNumber {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--black);
}
header nav .navbar__info .navbar_offerCall {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--black);
}

/* Main screen */
.main_screen__form {
  display: flex;
  position: relative;
  width: 100%;
}
.main_screen__form_block {
  display: flex;
  position: absolute;
  gap: 5%;
  margin-top: 5%;
  margin-left: 15%;
  width: 100%;
}

.main_screen_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}
@media (max-width: 1200px) {
  .main_screen_frame {
    width: 70%;
    height: 60%;
    top: 35%;
  }
}

.main_screen_inputForm {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 400px;
}
.main_screen_inputForm_caption {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 48px);
  line-height: 130%;
  text-align: left;
}
.main_screen_inputForm_desc {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 24px);
  line-height: 130%;
  text-align: left;
  white-space: wrap;
}
.main_screen_inputForm_input {
  border-radius: 40px;
  background: var(--white);
  width: 100%;
  height: 40px;
}
@media (max-width: 800px) {
  .main_screen_inputForm_input {
    display: none;
  }
}
.main_screen_inputForm_input::-moz-placeholder {
  padding: 3%;
  color: var(--black);
}
.main_screen_inputForm_input::placeholder {
  padding: 3%;
  color: var(--black);
}
@media (max-width: 800px) {
  .main_screen_inputForm_button {
    display: none;
  }
}

.main_screen_formImage {
  width: 150%;
  height: 150%;
}

/* Navigation */
.navigation {
  min-height: 300px;
  padding: 10%;
}
.navigation_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .navigation_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .navigation_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }
}
@media (max-width: 400px) {
  .navigation_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.navigation__item {
  width: 100%;
  height: 230px;
  background: #fafafa;
  overflow: hidden;
  padding: 5%;
  cursor: pointer;
}
.navigation__item--caption {
  font-weight: 700;
  color: var(--black);
  text-align: left;
  width: 150px;
  white-space: wrap;
  height: 50px;
}
@media (max-width: 600px) {
  .navigation__item--caption {
    text-align: center;
    margin-left: 15%;
  }
}
.navigation__item--image {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 170px;
}

/* Cars */
.cars {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 10%;
  height: 700px;
  /* Cars models */
}
@media (max-width: 400px) {
  .cars {
    margin-top: 120%;
  }
}
.cars--caption {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3%;
}
.cars__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
@media (max-width: 600px) {
  .cars__tabs {
    flex-direction: column;
  }
}
.cars__tabs .active {
  background-color: var(--dark-blue);
  color: #fff;
}
.cars__tab {
  transition: 0.2s linear all;
  border-radius: 10px;
  background-color: #fafafa;
  height: 70px;
  width: 20%;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 600px) {
  .cars__tab {
    width: 50%;
  }
}
.cars__h3_arrows {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .cars__h3_arrows {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .cars__h3_arrows {
    flex-direction: column;
  }
}
.cars__h3_arrows--caption {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  left: 5%;
  position: relative;
}
@media (max-width: 600px) {
  .cars__h3_arrows--caption {
    left: 0;
  }
}
.cars__arrows {
  display: flex;
  position: relative;
  left: 25%;
  gap: 25%;
  width: 120px;
}
@media (max-width: 600px) {
  .cars__arrows {
    left: 0;
  }
}
.cars__arrows svg {
  cursor: pointer;
}
.cars__models {
  margin-top: 5%;
  margin-left: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 250px;
  display: none;
}
@media (max-width: 1500px) {
  .cars__models {
    margin-left: 0;
  }
}
.cars .active_cars {
  display: flex;
}
.cars__model {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
@media (max-width: 600px) {
  .cars__model {
    width: 75% !important;
  }
}
.cars__model--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5%;
  height: 100%;
}
.cars__model--image {
  width: 100%;
  height: 100%;
  position: relative;
}
.cars__model--image_logo {
  position: absolute;
  right: 15%;
  top: 0;
}
.cars__model--title {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  white-space: nowrap;
}
.cars__model--price {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-grey);
  text-align: left;
}
.cars__model--more {
  display: flex;
  align-items: center;
  gap: 3%;
}
.cars__model--more_wrapper {
  display: flex;
  align-items: center;
  gap: 5%;
}
.cars__to_catalog {
  color: var(--white);
  width: 20%;
  margin-top: 3%;
  align-self: center;
}
@media (max-width: 600px) {
  .cars__to_catalog {
    width: 90%;
  }
}

/* Сервисы */
.services {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 10%;
  height: 900px;
  gap: 3%;
}
.services--caption {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 600px) {
  .services--caption {
    display: none;
  }
}
.services_wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.6fr;
  padding: 3% 7%;
  gap: 10%;
}
@media (max-width: 1100px) {
  .services_wrapper {
    grid-template-columns: 1fr;
  }
}
.services_form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background: #fafafa;
  height: 400px;
  width: 100%;
  gap: 3%;
}
@media (max-width: 600px) {
  .services_form {
    grid-row: 3;
  }
}
.services_form--caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.services_form--desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  align-self: center;
  width: 70%;
  white-space: wrap;
  margin-bottom: 3%;
}
.services_form--input {
  border-bottom: 1px solid var(--light-grey);
  height: 30px;
  width: 100%;
  background-color: var(--white);
}
.services_form--input::-moz-placeholder {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  padding: 3%;
}
.services_form--input::placeholder {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  padding: 3%;
}
.services_form--select {
  border-bottom: 1px solid var(--light-grey);
  height: 30px;
  width: 100%;
  background-color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--dark-grey);
}
@media (max-width: 600px) {
  .services_form--select {
    display: none;
  }
}
.services_form--button {
  margin-top: 3%;
}
.services_types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 20%;
       column-gap: 20%;
}
@media (max-width: 600px) {
  .services_types {
    display: none;
  }
}
.services_types .service_type {
  display: flex;
  height: 100px;
  width: 100%;
}
.services_types .service_type--icon {
  align-self: flex-start;
}
.services_types .service_type--title {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}
.services_types .service_type--caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: left;
  width: 90%;
}
.services_types .service_type--more_wrapper {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 5%;
}

/* Адаптивные онлайн сервисы */
.online_services {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}
@media (max-width: 600px) {
  .online_services {
    display: grid;
  }
}
.online_services--caption {
  display: none;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--black);
}
@media (max-width: 600px) {
  .online_services--caption {
    display: inline;
  }
}
.online_services .online_service {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 165px;
  text-align: left;
  gap: 10%;
}
.online_services .online_service:last-of-type {
  grid-column: 1/3;
}
.online_services .online_service--caption {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

/*Osago*/
section.osago {
  background: #FAFAFA;
  padding: 40px 10%;
  margin: 40px 0;
  width: 100%;
  position: relative;
}
@media (max-width: 600px) {
  section.osago {
    margin-top: 200px;
  }
}

.osago-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.osago-container.first {
  display: flex;
  gap: 15px;
}

.osago-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 49%;
  height: 163px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.osago-container-first-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.osago-container-second-item {
  flex: 1;
  background-image: url(../images/other/osago.png);
  border-radius: 10px;
}

.osago-btns-wrapper-top {
  display: flex;
  gap: 10px;
}

.osago-btn.third {
  width: 100% !important;
}

.osago-btn-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: black;
}

.osago-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: center;
  color: black;
}

/*About*/
section.about {
  padding: 0 10%;
  margin: 40px 0;
  width: 100%;
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-title-container {
  padding-bottom: 10px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: center;
  color: black;
}

.about-chrono {
  display: flex;
  gap: 10px;
}

.about-chrono-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-chrono-item-title {
  color: #0032A0;
  font-size: 57.33px;
  font-weight: 700;
  line-height: 74.53px;
  text-align: left;
}

.about-chrono-item-description {
  white-space: wrap;
  font-size: 19.5px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: black;
}

.about-inner-container {
  display: flex;
  position: relative;
  gap: 20px;
}

.about-inner-container-item {
  position: relative;
}

.about-inner-container-item-inner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-inner-container-item.second {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
}

.about-inner-container-item img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.about-inner-container-item img.first {
  height: 700px;
}

.about-inner-container-item.first {
  width: 56%;
}

.about-inner-container-item.second {
  width: 43%;
}

.about .about-description {
  padding-right: 40px;
  white-space: wrap;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: black;
}

/*Footer*/
footer {
  background: #EEEEEE;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 60px 15%;
  gap: 40px;
}

.footer-inner-container_main {
  display: flex;
  justify-content: stretch;
}

.footer-item {
  flex: 1;
}

.footer-item .footer-list li {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-item_main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-phone-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

a.footer-phone {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: black;
}

.footer-contact-form {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: black;
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-description {
  white-space: wrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #3F3F3F;
}/*# sourceMappingURL=style.css.map */